a{
  text-decoration: none;
}

.section-padding{
  padding: 100px 0;
}

.section-bg-1{
  background-image: url(img/bg-4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.price-boxes{
  box-shadow: 0 0 20px #222;
  overflow: hidden;
}

.single-price-box{
  position: relative;
  z-index: 1;
  float: left;
  width: 33.33333333%;
}

.single-price-box::after{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 2px;
  background-color: #333;
  content: '';
  opacity: .2;
}

.single-price-box:last-child::after{
  display: none;
}

.price-box-image{
  display: table;
  width: 100%;
  height: 140px;
}

.price-box-image img{
  max-width: 180px;
  max-height: 165px;
}

.price-box-img-wrap{
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  text-align: center;
}

.price-box-inner{
  background-color: #fff;
  padding: 25px;
  color: #3c76c0;
  text-align: center;
}

.price-box-inner h2{
  text-align: center;
  font-weight: 700;
  color: #01489a;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.price-content span{
  display: inline-block;
  position: relative;
  color: #d25529;
  font-weight: 800;
  font-size: 40px;
}

.price-content span::before{
  content: '$';
  font-size: 20px;
  position: absolute;
  left: -15px;
  top: 10px;
  font-weight: 400;
}

.price-content span::after{
  content: '/mo';
  font-weight: 400;
  font-size: 23px;
  margin-left: 5px;
}

.price-box-inner h3{
  text-align: center;
}

.price-box-inner ul{
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 23px;
  line-height: 26px;
  font-size: 15px;
  margin-bottom: 30px;
  text-align: left;
}

.boxed-btn{
  background-color: #3c76c0;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 5px;
  transition: .3s;
}

.boxed-btn.active{
  background-color: #d25529;
  color: #fff;
  transition: .3s;
}

.boxed-btn:hover{
  background-color: #333;
  color: #fff;
}